<?xml version="1.0" encoding="UTF-8"?>

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" type="application/javascript"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            type="application/javascript"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" type="application/javascript"/>

    <title><ui:insert name="title">JSF</ui:insert></title>
</h:head>

<h:body>
    <ui:insert name="content">
        <h1>Hello, world!</h1>
    </ui:insert>
</h:body>

</html>