<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <form th:action="@{/save}" th:object="${persona}" method="POST">
                <input type="hidden" th:field="*{id}">
                <h2 class="mb-2">Datos Persona</h2>
                <div class="form-group">
                    <label>Cedula</label>
                    <input type="text" class="form-control" th:field="*{cedula}">
                </div>
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}">
                </div>
                <div class="form-group">
                    <label>Dirección</label>
                    <input type="text" class="form-control"  th:field="*{direccion}">
                </div>
                <div class="form-group">
                    <label>Tipo dirección</label>
                    <select class="form-control" th:field="*{tipoDireccion}">
                        <option th:each="tipo : ${tipos}" th:value="${tipo.id}" th:text="${tipo.descripcion}"></option>
                    </select>
                </div>

                <div class="form-group ">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>

        <div class="col-7">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Tipo direccion</th>
                    <th>Accion</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${personas.empty}">
                    <td colspan="6">No existen registros</td>
                </tr>
                <tr th:each="persona, iter : ${personas}">
<!--                    <td th:text="${iter.index + 1}"></td>-->
                    <td th:text="${persona.id}"></td>
                    <td th:text="${persona.cedula}"></td>
                    <td th:text="${persona.nombre}"></td>
                    <td th:text="${persona.direccion}"></td>
                    <td th:text="${persona.tipoDireccion}"></td>
                    <td>
                        <a th:href="@{/(id=${persona.id})}" class="p-0">Editar</a>
                        <a th:href="@{delete/(id=${persona.id})}" class="p-0 text-danger" >Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

