<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:f="http://xmlns.jcp.org/jsf/core">


<ui:composition template="/templates/main.xhtml">

    <ui:define name="content">
        <div class="container">
            <div class="row mt-4">
                <div class="col text-center">
                    <h1>Adminsitrador de cuentas</h1>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-5">
                    <div class="row">
                        <div class="col-12">
                            <h4>Crear cuenta:</h4>
                        </div>

                        <h:form styleClass="col">
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <label>Nombre:</label>
                                    <h:inputText value="#{indexController.cuenta.nombre}" styleClass="form-control"/>
                                </div>
                                <div class="form-group col-6">
                                    <label>N. Cuenta:</label>
                                    <h:inputText value="#{indexController.cuenta.cuenta}" styleClass="form-control"/>
                                </div>
                                <div class="form-group col-6">
                                    <label>Saldo inicial:</label>
                                    <h:inputText value="#{indexController.cuenta.saldo}" styleClass="form-control" validatorMessage="El valor debe ser mayor que 0 y menor que 1000">
                                        <f:validateDoubleRange minimum="0" maximum="1000" />
                                    </h:inputText>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-6">
                                    <h:commandButton value="Guardar" action="#{indexController.addCuenta()}"
                                                     styleClass="btn btn-success"/>
                                </div>
                            </div>
                        </h:form>
                    </div>
                </div>

                <div class="col-7">
                    <div class="row">
                        <div class="col-12">
                            <h4>Cuentas:</h4>
                        </div>

                        <div class="col">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>N. Cuenta</th>
                                    <th>Saldo</th>
                                </tr>
                                </thead>
                                <tbody>

                                <ui:repeat value="#{indexController.cuentas}" var="cuenta">
                                    <tr>
                                        <td>#{indexController.cuentas.indexOf(cuenta) + 1}</td>
                                        <td>#{cuenta.nombre}</td>
                                        <td>#{cuenta.cuenta}</td>
                                        <td>#{cuenta.saldo}</td>
                                    </tr>
                                </ui:repeat>
                                </tbody>
                            </table>
                        </div>

                        <h:panelGroup rendered="#{not empty indexController.cuentas}">
                            <div class="col-12">
                                <a href="#exampleModal" class="btn btn-primary" data-toggle="modal">Transferir</a>
                            </div>
                        </h:panelGroup>
                    </div>
                </div>
            </div>

            <div class="row">
                <h:messages style = "color:red;margin:8px;"/>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <h:form styleClass="col" id="form-modal">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Transferir</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>N cuenta origen:</label>
                                <h:inputText value="#{indexController.transaccion.origen}" styleClass="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>N cuenta destino:</label>
                                <h:inputText value="#{indexController.transaccion.destino}" styleClass="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>Monto:</label>
                                <h:inputText value="#{indexController.transaccion.monto}" styleClass="form-control" validatorMessage="El valor debe ser mayor que 0 y menor que 1000">
                                    <f:validateDoubleRange minimum="0" maximum="1000" />
                                </h:inputText>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <h:commandButton value="Guardar" action="#{indexController.transferir()}"
                                             styleClass="btn btn-success"/>
                        </div>
                    </h:form>
                </div>
            </div>
        </div>

    </ui:define>

</ui:composition>
</html>
